.header{
    height: 100px;
    background-color: #000233;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.logo img{
  width: 80px;
}
.mainBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  .brandName {
    color:#D1232A;
    font-size: 36px;
    font-weight: bold;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500PX;
    height: 40PX;
    border: 1px solid gray;
    gap: 20px;
  }
  .navLink {
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    font-size: 12px;

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

   
  }


  .toggle{display: none;}

  @media all and (max-width: 768px) {
    .header{
    height: 100px;
    background-color: #000233;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  .logo img{
    width: 70px;
  }
  .mainBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 10rem;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: 1px solid gray;
    
  }
  .navLinks a{
    display: none;
  }
  .toggle{
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      border: none;
      cursor: pointer;
  }
   .mobil-nave{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      gap: 1.5rem;
      padding: 10px;
      top: 8.7rem;
      width: 50%;
      margin-right: 2.5rem;
      height: 40vh;
      background-color:  #555;
  }
    
  }



